<div class = "container">
	<div class = "row">
		<h3> {{miPortfolio.acercade}} </h3>
		<div class="btn-edit" align = "right"> <a href= "#" class= "btn-right"> <i class= "fa fa-pen"></i> </a> </div>
		<div class = "col-2"></div>
		<div class = "col-9">
		<section>      
			<article>
				<ul>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<p> {{miPortfolio.acercade1}} </p>
						<p> {{miPortfolio.acercade2}} </p>
					</div>
				</li>
				</ul>
			</article>      
		</section>
		<div class = "col-1"></div>
		</div>
	</div>
</div>