<footer>		
	<nav class="navbar navbar-dark bg-dark">
		<div class="container">
			<!-- Título de la barra -->
			<a class="navbar-brand"> {{miPortfolio.pie}} </a>
			<a href= {{miPortfolio.piegithublnk}} target="_blank"> <p class="bi-github" role="img" aria-label="GitHub"> {{miPortfolio.piegithub}} </p> </a> 
			<a href= {{miPortfolio.piegitlablnk}} target="_blank"> <i class="bi bi-git" role="img" aria-label="GitLab"> {{miPortfolio.piegitlab}} </i> </a>
		</div>
	</nav>
</footer>

		<!-- Bootstrap JS 
		<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin = "anonymous"></script>
		-->
		<!-- 
		<script src= "front.js"></script>
		-->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>		

