<div class = "container">
	<h2> {{miPortfolio.proyectos}} </h2>
	<div class="btn-edit" align = "right"> <a href= "#" class= "btn-right"> <i class= "fa fa-pen"></i> </a> </div>
	<div class = "row">
		<div class = "col-2"></div>
		<div class = "col-9">
			<section>
				<article>
					<ul>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
							  <div class="fw-bold"> {{miPortfolio.proyecto1}} </div>
							  <time> {{miPortfolio.proyecto1bis}} </time> <br><br>
							  <div> <a href = "{{miPortfolio.proyecto1lnk}}"> <span class="badge bg-primary rounded-pill"> {{miPortfolio.proyecto1}} </span> </a> </div>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
							  <div class="fw-bold"> {{miPortfolio.proyecto2bis}} </div>
							  <time> {{miPortfolio.proyecto2}} </time> <br><br>
							  <div> <a href = "{{miPortfolio.proyecto2lnk}}"> <span class="badge bg-primary rounded-pill"> {{miPortfolio.proyecto2}} </span> </a> </div>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
							  <div class="fw-bold"> {{miPortfolio.proyecto3bis}} </div>
							  <time> {{miPortfolio.proyecto3}} </time> <br><br>
							  <div> <a href = "{{miPortfolio.proyecto3lnk}}"> <span class="badge bg-primary rounded-pill"> {{miPortfolio.proyecto3}} </span> </a> </div>
							</div>
						</li>
					</ul>
				</article>
			</section>
		</div>
		<div class = "col-1"></div>
	</div>
</div>

